.area{

  @include border-radius(3px);
  background: $block_bg_color;
  border: 1px solid $block_border_color_fallback;
  border: 1px solid $block_border_color;
  border-bottom-width: 2px;
  padding: 10px;

}