// Button
//
// Overview of the Button Design Component
//
// Styleguide 3.0


// .btn
//
// Markup:
// <div class="btn">Lorem ipsum dolor sit amet!</div>
//
// Styleguide 3.0.1

.btn{
  @include border-radius(1px);
  @include box-shadow(0 1px 2px rgba(0,0,0,.1));
  background-color: $btn_bg;
  color: $btn_color;
  padding: 15px;
  &:hover{
    background-color: darken($btn_bg, 5%);
  }
}


// .btn--highlighted
//
// Markup:
// <div class="btn--highlighted">Lorem ipsum dolor sit amet!</div>
//
// Styleguide 3.0.2

.btn--highlighted{
  @extend .btn;
  background-color: $btn_highlighted_bg;
  color: $btn_highlighted_color;
  &:hover{
    background-color: darken($btn_highlighted_bg, 5%);
  }
}


// .btn--icon
//
// Button that contains an icon
//
// Markup:
// <div class="btn--icon"><div class="icon--user"></div></div>
//
// Styleguide 3.0.3

.btn--icon{
  @extend .btn;
  width: 56px;
  height: 52px;
  padding : 0;
}

.btn--icon--small{
  @extend .btn;
  width: 40px;
  height: 34px;
  padding : 0;
}

// .btn--icon--highlighted
//
// Highlighted Button that contains an icon
//
// Markup:
// <div class="btn--icon--highlighted bright"><div class="icon--add"></div></div>
//
// Styleguide 3.0.4

.btn--icon--highlighted{
  @extend .btn;
  @extend .btn--icon;
  background-color: $btn_highlighted_bg;
  &:hover{
    background-color: darken($btn_highlighted_bg, 5%);
  }
}