.detailbar{

  @include clearfix;
  margin-bottom: 15px;
  padding: 0px 20px;

}

.detailbar__row{

  width: 50%;
  float: left;
  @include clearfix;

  label{
    width: 30%;
    float: left;
  }

  .value{
    width: 70%;
    float: left;
  }
}