.dossierbar{

  @include clearfix;
  margin-bottom: 10px;

}

.dossierbar__vouchers{

  float: left;
  @include clearfix;
  max-width: 570px;

}

.dossierbar__id{

  float: left;
  padding: 20px 37px;
  height: 53px;
  background: #F5F5F5 !important;
  @include border-radius(1px);
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 15px;
  @include clearfix;

  a{
    color: $dossierbar_link_color;
    text-decoration: none;
  }

  &.active{
    background: $dossierbar_active_bg_color !important;
    color: $dossierbar_active_color;
    border-bottom-width: 2px;
    &:hover{
      background: $dossierbar_active_bg_color !important;
      color: $dossierbar_active_color;
      border-bottom-width: 2px;
    }
    a{
      color: $dossierbar_active_color;
      &:hover{
        color: $dossierbar_active_color;
      }
    }
  }

  &:hover{
    background: $dossierbar_hover_bg_color !important;
    color: $dossierbar_hover_color;
    border-bottom-width: 2px;
    a{
      color: $dossierbar_hover_color;

    }
  }

  &.has_icon{
    padding-left: 58px;
  }

}

.dossierbar__mainactions{

  float: left;
  @include clearfix;

}

.dossierbar__mainaction__item{

  float: left;
  margin-left: 5px;
  @include border-radius(3px);

}

.dossierbar__actions{

  float: right;
  @include clearfix;

}

.dossierbar__action__item{

  float: left;
  margin-left: 5px;

}

.dossierbar__icon{
  float: left;
  margin-bottom: -25px;
  margin-left: -45px;
  margin-top: -10px;
}

.dossierbar__id__value{
  float: left;
}

.dossierbar{
  #voucher_switcher{
    width: 300px;
  }
  .chosen-container-single .chosen-single,
  .chosen-container-active.chosen-with-drop .chosen-single{
    height: 52px;
    padding-top: 10px;
  }
  .chosen-container-single .chosen-single div{
    top: 10px;
    right: 7px;
  }
}