.idbar{

  @include clearfix;
  margin-bottom: 15px;

}

.idbar__item{

  @include clearfix;
  float: left;
  margin-right: 35px;

}

.idbar__label{

  float: left;

}

.idbar__value{

  float: left;
  padding: 20px 35px;

}

.idbar__id{

  background-color: $idbar_bg_color;
  color: $idbar_color;
  padding: 20px 35px;
  @include border-radius(2px 0 0 2px);

  &.has_icon{
    padding-left: 60px;
  }

}

.idbar__icon{
  float: left;
  margin-bottom: -25px;
  margin-left: -45px;
  margin-top: -10px;
}

.idbar__id__value{
  float: left;
}