.main-navigation{

  @include horizontal-list;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 60px;

  ul{

    margin: 0;
    padding: 0;

    li{

      margin: 0;
      padding: 0;

      a{

        text-decoration: none;
        color: $nav_main_link_color;
        font-size: 15px;
        cursor: pointer;
        padding: 0px 25px;

        &:hover{

          color: $nav_main_link_color_hover;

        }

        &.active{

          color: $nav_main_link_color_active;


        }

      }

    }

  }

}