.layout-has-sidebar{

  @include clearfix;

  .layout-sidebar{

    width: 20%;
    float: left;
    margin-right: 2.5%;
    border: 1px solid #F4F4F4;
    background: #FFF;

  }

  .layout-content{

    width: 77.5%;
    float: right;

  }

}