*{

  @include box-sizing(border-box);

}

html{

  font-size: $font_base_size;
  font-family: $font-lato-regular;
  color : $main_text_color;
  background-color: $main_bg_color;
  width: 100%;
  height: 100%;

}

body{

  width: 100%;
  height: 100%;

}