table{

  width: 100%;
  max-width: 100%;
  text-align: center;
  border-collapse: collapse;

  th{

    color: $table_heading_color;
    font-family: $font-lato-bold;

  }

  th,
  td{

    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer !important;

    &.active{

      background-color: $table_row_active_bg_color;
      color: $table_row_active_color;

      a{

        color: $table_row_active_color;

      }

    }
  }

  tbody{

    tr{

      border-bottom: 1px solid $table_row_border_color;

      &:hover{

        color: $table_row_hover_color;
        background-color: $table_row_hover_bg_color;

      }

    }

    tr:nth-child(even),
    tr.even{

      background-color: $table_row_even;

      &:hover{

        color: $table_row_hover_color;
        background-color: $table_row_hover_bg_color;

        a{
          color: $table_row_hover_color;
        }

      }

    }

    tr:nth-child(odd),
    tr.odd{

      background-color: $table_row_odd;

      &:hover{

        color: $table_row_hover_color;
        background-color: $table_row_hover_bg_color;

        a{
          color: $table_row_hover_color;
        }

      }

    }

  }



  thead{

    tr{

      border-bottom: 2px solid #f5f5f5;

    }

  }

}