{{#each emails}}
<div class="email-item">
    <h2>Email {{inc @index}}</h2>
    <div class="email-item-content">
        <div class="email-item-subject">{{subject}}</div>
        <div class="email-item-message">{{message}}</div>
    </div>
</div>
{{/each}}