.msg{

  padding: 20px;
  //background-image: image-url('messages/messages.png', false, false);
  background-repeat: no-repeat;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  width: 100%;
  font-size: 14px;

}

.msg__error{

  background-color: $error_bg_color;
  color: $error_color;
 //background-position: -5px -12px;

}

.msg__succes{

  background-color: $succes_bg_color;
  color: $succes_color;
  //background-position: 20px -113px;

}

.msg__hidden{

  display: none;
  margin-bottom: 40px;

}