<table>
  <thead>
      <tr>
        <th>#</th>
        <th>&nbsp;</th>
        <th>Naam</th>
        <th>&nbsp;</th>
      </tr>
  </thead>
  <tbody>
{{#each attachments}}
  <tr>
    <td>{{inc @index}}.</td>
    <td><i class="fa fa-file-o"></i></td>
    <td style="text-align: left;">{{name}}</td>
    <td><a href="/fast_dossier/document/{{id}}">Download</a></td>
  </tr>
{{/each}}
  </tbody>
</table>
