{{#each attachments}}
<div class="attachment-item">
    <h2>Bijlage {{inc @index}}</h2>
    <div class="attachment-item-content">
        <div class="attachment-item-link">{{name}} {{url}}</div>
    </div>
</div>
{{/each}}