{{#each attachments}}
<div class="attachment-item">
    <h2>Bijlage {{inc @index}}</h2>
    <div class="attachment-item-content">
        <div class="attachment-item-link">{{name}}</div>
        <div class="attachment-item-link-actions">
            <a href="/fast_dossier/document/{{id}}">Download</a>
        </div>
    </div>
</div>
{{/each}}