{{#each attachments}}
<div class="attachment-item">
    <h2>Bijlage {{inc @index}}</h2>
    <div class="attachment-item-content">
        <a href="/fast_dossier/document/{{id}}" class="attachment-item-link">{{name}}</div>
    </div>
</div>
{{/each}}