{{#each notas}}
<div class="nota-item">
<h2>Nota {{inc @index}}</h2>
<div class="nota-item-content">
<div class="nota-item-message">
{{message}}
<br />
{{cd}} - {{cd_by}}
</div>
</div>
</div>
{{/each}}
