.dsform{

  @include clearfix;

}

.dsform__clearfix{

  @include clearfix;

}

.dsform__left{

  float: left;
  width: 65%;

}

.dsform__right{

  float: right;
  width: 35%;

  input{

    width: 50%;
    margin-right: 5%;

  }

  label{

    width: 45%;

  }

}


.dsform_seperation{

  border-top: 1px solid #EEE;
  padding-top: 20px;
  margin-top: 20px;

}