.autograph-container,
.autograph-container-buttons{

  @include clearfix;

}

.autograph-container__police{

  width: 30%;
  margin-right: 5%;
  float: left;

  input, .chosen-container{

    width: 50% !important;

    input{

      width: 100% !important;


    }

  }

  label{

    width: 50%;

  }

}

.autograph-container__nuisance{

  width: 30%;
  float: left;
  margin-right: 5%;

  .nuisance_value{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.autograph-container__collecting{

  width: 30%;
  float: left;

  input, .chosen-container{

    width: 50% !important;

    input{

      width: 100% !important;


    }

  }

  label{

    width: 50%;

  }

}

.autograph-block{
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #EEE;
  border: 1px solid #EEE;
  height: 160px;
  margin-bottom: 15px;
  margin-top: 15px;
  @include border-radius(2px);

  .inform-link{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #F4F4F4;
    @include border-radius(50%);
    width: 40px;
    height: 40px;
    background-position: -599px -76px;
    border: 1px solid #EEE;

    &:hover{
      border: 1px dotted #CCC;
    }
  }

  &.active{
    background-color: #FFF;
  }
}

.add_autograph{
  position: absolute;
  top: 61px;
  text-align: center;
  width: 75%;
  display: block;
  background: #6f6f6f;
  padding: 16px 15px;
  left: 13%;
  color: #FFF;
  border-radius: 3px;
  text-decoration: none;
  &:hover{
    color: #FFF;
    background: darken(#6f6f6f, 5%);
  }
}

.autograph-container__collecting__date{
  position: relative;
}