//towedby
.towedby-container{
  @include clearfix;
  padding-top: 10px;
}

.towedby-container__left{
  width: 55%;
  @include clearfix;
  float: left;

  input{

    width: 60%;

  }

  .input_value{

    width: 60%;
    float: left;
    padding: 8px;

  }

  label{

    width: 25%;

  }

}


.towedby-container__right{
  width: 40%;
  float: right;
  @include clearfix;

  input{

    width: 50%;
    margin-right: 5%;

  }

  .input_value{

    width: 50%;
    margin-right: 5%;
    float: left;
    padding: 8px;

  }

  label{

    width: 45%;

  }

}

.towedby-container__towedby{
  float: left;
  width: 48%;
  margin-right: 2%;
}

.towedby-container__licenceplate{
  float: left;
  width: 50%;
}

.towedby-container__arival{
  float: left;
  width: 50%;
}

.towedby-container__call{
  float: left;
  width: 50%;
}

.towedby-container__start{
  float: left;
  width: 50%;
}

.towedby-container__completed{
  float: left;
  width: 50%;
}