.assistance-container{
  @include clearfix;

  input, .chosen-container{

    width: 97% !important;
    float: left;
    margin-right: 0;

    input{

      width: 100%!important;

    }

  }

  label{

    width: 100%;
    float: left;
    text-align: center;

  }

}