.form-item{

  margin-top: 15px;
  margin-bottom: 15px;

}

.form-item-horizontal{
  @extend .form-item;
  @include clearfix;

  &.less_padded{

    margin-top: 5px;
    margin-bottom: 5px;

  }

  label{
    padding: 8px 20px 8px 0px;
    width: 25%;
    float: left;
    &.notbold{
      color: #868685;
    }
  }

  input, select, textarea, .chosen-container, .licenseplate-container, .value, .form-value{
    width: 75%;
    float: right;
  }

  .chosen-container{
    width: 75% !important;
  }

  .value{
    padding: 8px 20px 8px 20px;
  }

  .form-value{
    padding: 8px 2px 8px 2px;
  }

}

.form-item-vertical{
  @extend .form-item;
  @include clearfix;

  &.less_padded{

    margin-top: 5px;
    margin-bottom: 5px;

  }

  label{
    padding: 8px 20px 8px 0px;
    &.notbold{
      color: #868685;
    }
  }

  .value{
    padding: 8px 20px 8px 20px;
  }

  .form-value{
    padding: 8px 2px 8px 2px;
  }

}

table a{
  text-decoration: none;
  color: #868685;
}

.id__cell{
  @include clearfix;
}

.id__cell__icon{
  float: left;
  display: block;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-right: 40px;
}

.id__cell__text{
  float: left;
  display: block;
  margin-top: 5px;
}