//towedby
.towedby-container{
  @include clearfix;
  padding-top: 10px;
}

.towedby-container__left{
  width: 100%;

  input{

    width: 60%;

  }

  label{

    width: 25%;

  }

}


.towedby-container__right{
  width: 100%;

  input{

    width: 50%;
    margin-right: 5%;

  }

  label{

    width: 45%;

  }

}

.towedby-container__towedby{
  float: left;
  width: 48%;
  margin-right: 2%;
}

.towedby-container__licenceplate{
  float: left;
  width: 50%;
}

.towedby-container__arival{
  float: left;
  width: 50%;
}

.towedby-container__call{
  float: left;
  width: 50%;
}

.towedby-container__start{
  float: left;
  width: 50%;
}

.towedby-container__completed{
  float: left;
  width: 50%;
}