.form-item{

  margin-top: 15px;
  margin-bottom: 15px;

}

.form-item-horizontal{
  @extend .form-item;
  @include clearfix;

  &.less_padded{

    margin-top: 5px;
    margin-bottom: 5px;

  }

  label{
    padding: 8px 20px 8px 0px;
    width: 25%;
    float: left;
    &.notbold{
      color: #868685;
    }
  }

  input, select, textarea, .chosen-container, .licenseplate-container, .value, .form-value{
    width: 75%;
    float: right;
  }

  .chosen-container{
    width: 75% !important;
  }

  .value{
    padding: 8px 20px 8px 20px;
  }

  .form-value{
    padding: 8px 2px 8px 2px;
  }

}

.form-item-vertical{
  @extend .form-item;
  @include clearfix;

  &.less_padded{

    margin-top: 5px;
    margin-bottom: 5px;

  }

  label{
    padding: 8px 20px 8px 0px;
    &.notbold{
      color: #868685;
    }
  }

  .value{
    padding: 8px 20px 8px 20px;
  }

  .form-value{
    padding: 8px 2px 8px 2px;
  }

}

.form__actions{

  width: 100%;
  background-color: #EEE;
  border-top: 1px solid #E9E9E9;
  padding: 0 25px;
  @include clearfix;

}

.form__actions__cancel{

  float: float;
  width: 50%;

}

.form__actions__save{

  float: right;
  width: 20%;

}

.inner_padding{

  padding: 20px;

}

.form-item-checkbox{
  @include clearfix;
  margin-top: 10px;
  margin-bottom: 10px;

  label{

    float: left;

  }

  input{

    margin-top: -3px;
    margin-right: 0px;
    float: left;
    width: 30px;
    height: 30px;

  }


}
