.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div:hover {
  color: #fff !important;
  background: #42b7f4 !important;
  box-shadow: none !important;
}