.assistance-container{
  @include clearfix;

  input, .chosen-container{

    width: 75%!important;
    float: left;
    margin-right: 0;

    input{

      width: 100%!important;

    }

  }

  label{

    width: 22%;
    float: left;

  }

}