.facturation-container{
  width: 45%;
  float: left;

  border: 1px solid #EEE;
  margin-right: 5%;
  background: #EEE;
  min-height: 70px;

  .has_content{
    min-height: 160px;
  }

  @include border-radius(2px);

  text-align: center;

  position: relative;

  label{
    margin-top: 15px;
  }

  .inform-link{

    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #F4F4F4;
    @include border-radius(50%);
    width: 40px;
    height: 40px;
    background-position: -599px -76px;
    border: 1px solid #EEE;

    &:hover{
      border: 1px dotted #CCC;
    }
  }

}

.facturation-container__info{

  padding-top: 10px;
  padding-bottom: 10px;

  div{

    padding-top: 6px;
    padding-bottom: 3px;

  }

}