//SIGNA
.signa-container{
  @include clearfix;
  border-bottom: 1px solid #EEE;
}

.signa-container__left{
  width: 55%;
  float: left;

  input{

    width: 60%;

  }

  label{

    width: 25%;

  }

}

.signa-container__right{
  width: 40%;
  float: right;

  input{

    width: 50%;
    margin-right: 5%;

  }

  label{

    width: 45%;

  }

}

.signa-container__signa{
  width: 48%;
  margin-right: 2%;
  float: left;
}

.signa-container__licenceplate{
  float: left;
  width: 50%;
}

.signa-container__arrival{
  float: left;
  width: 50%;
}