.autograph-container,
.autograph-container-buttons{

  @include clearfix;

}

.autograph-container__police{

  width: 30%;
  margin-right: 5%;
  float: left;

  input, .chosen-container{

    width: 50% !important;

    input{

      width: 100% !important;


    }

  }

  label{

    width: 50%;

  }

}

.autograph-container__nuisance{

  width: 30%;
  float: left;
  margin-right: 5%;

  .nuisance_value{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.autograph-container__collecting{

  width: 30%;
  float: left;

  input, .chosen-container{

    width: 50% !important;

    input{

      width: 100% !important;


    }

  }

  label{

    width: 50%;

  }

}

.autograph-block{
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 1px solid #EEE;
  height: 160px;
  margin-bottom: 15px;
  margin-top: 15px;
  @include border-radius(7px);
}