.form-item-licenseplate{

  .licenseplate-container{

    @include clearfix;

    input{
      width: 54%;
      float: left;
      margin-right: 1%;
    }

    .chosen-container{

      width: 45% !important;
      float: right;

    }

  }



}