//TYPO
$font_base_size : 12px;

//COLORS
$white : #FFFFFF;

$blue : #4285f4;
$light_blue : #42b7f4;

$yellow : #feec8a;

$red : #7f2710;

$green : #ccfe8b;
$green_dark : #477f10;

$gray_lightest : #f6f6f6;
$gray_lighter : #F5F5F5;
$gray_light : #efefef;
$gray : #e5e5e5;
$gray_dark : #868685;
$gray_darkest : #6b6b6b;
$gray_darkdark: #666666;

$black : #171717;

//ERROR
$error_bg_color : $yellow;
$error_color : $red;

//SUCCES
$succes_bg_color : $green;
$succes_color : $green_dark;

//MAIN
$main_text_color : $gray_dark;
$main_bg_color : $gray;

//BLOCK
$block_bg_color : $white;
$block_border_color : rgba(0,0,0,0.1);
$block_border_color_fallback : $gray;

//LINK
$link_color : $blue;
$link_color_hover : lighten($blue, 5%);

//TABLE
$table_heading_color : $black;
$table_row_even : $gray_light;
$table_row_odd : $gray_lighter;
$table_row_active_color : $white;
$table_row_active_bg_color : $light_blue;
$table_row_hover_color : $white;
$table_row_hover_bg_color : darken($light_blue, 5%);
$table_row_border_color : $white;

$table_small_row_active_color : $white;
$table_small_row_active_bg_color : $light_blue;
$table_small_row_hover_color : $gray_dark;
$table_small_row_hover_bg_color : darken($gray_light, 5%);
$table_small_row_border_color : $white;

//NAV MAIN
$nav_main_link_color : $gray_darkest;
$nav_main_link_color_hover : $white;
$nav_main_link_color_active : $white;

//ICONS
$icon_focus_bg : $blue;

//BUTTONS
$btn_color : $gray_dark;
$btn_bg : $white;
$btn_highlighted_bg : $blue;
$btn_highlighted_color : $white;

//FORM
$form_input_border_color : rgba(0,0,0,0.1);
$form_input_border_color_fallback : $gray;

$form_input_bg_color : $white;
$form_input_color : $gray_dark;

$form_select_bg_color : $gray_lightest;

$form_label_color : $black;

$form_submit_bg_color : $blue;
$form_submit_color : $white;

//CHOSEN
$chosen_highlight_bg_color : $light_blue;
$chosen_highlight_color : $white;


//IDBAR
$idbar_bg_color : $light_blue;
$idbar_color : $white;

//DOSSIERBAR
$dossierbar_active_bg_color : $gray_darkdark;
$dossierbar_active_color : $white;
$dossierbar_hover_bg_color : darken($gray_light, 5%);
$dossierbar_hover_color : $gray_dark;
$dossierbar_link_color : $gray_dark;
