/* Import Sass Mixins, Variables, Compass Modules, Base Styles etc. */
@import "init";

/* Import Layouts */
@import "layout/**/*";

/* Import Components */
@import "components/**/*";

.nota-item, .email-item, .attachment-item{
  padding: 25px;
  border-top: 1px solid #EEE;
  margin-top: 15px;
  &:first-child{
    border-top: none;
    margin-top: 0;
  }
}

.email-item-subject{
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.email-item-message,
.nota-item-message{
  margin-bottom: 10px;
  line-height: 18px;
}

.nota-item-content,
.email-item-content{
  padding-left: 25px;
  border-left: 5px solid #EEE;
  padding-top: 5px;
  padding-bottom: 5px;
}

#view-nota-container,
#view-email-container,
#view-attachment-container{
  overflow: scroll;
  max-height: 400px;
}