/* Import Sass Mixins, Variables, Compass Modules, Base Styles etc. */
@import "init";

/* Import Layouts */
@import "layout/**/*";

/* Import Components */
@import "components/**/*";

.nota-item, .email-item{
  padding: 25px;
  border-top: 1px solid #EEE;
  margin-top: 15px;
  &:first-child{
    border-top: none;
    margin-top: 0;
  }
}

#view-nota-container,
#view-email-container{
  overflow: scroll;
  max-height: 400px;
}